$green: rgb(83, 186, 112) !default;
$bg: rgb(41, 41, 41) !default;
$white: rgb(255, 255, 255) !default;
$green-footer: rgb(83, 186, 112, 30%) !default;
$gray: rgb(188, 190, 192) !default;
$red: rgb(235, 0, 27) !default;
$yellow: rgb(235, 212, 38) !default;
$purple: rgb(107, 88, 184) !default;
